* {
    color: rgb(128, 94, 0);
}
div{
    color: black;
}
p{
    background-color: green;
    
    color: white;
}
.loda-class{
    color: brown;
}
#hello-world{
    color: aqua;
    text-align: center;
    background-color: black;
}
.subsection.header{
    color: red;
}
.subsection#preview{
    color: blueviolet;
}
.ancestor .contents .contents{
    background-color: #10f;
    font-style: italic;
}
.but{
    background-color: orange;
    font-size: 18px;
    color: white;
}